.sidebar_component {
    background-color: #f8f8f8;
   
  }
  
  .sidebar_content i {
    font-size: 30px;
  }
  .sidebar_content p {
    font-size: 18px;
  }
  
  .sidebar_component {
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    background-color: #f8f8f8;
    width: 250px; 
    overflow-y: auto; 
  }
  
  .active{
    color: red;
  }